.page {
  font-family: 'Noto Sans', sans-serif;
}

.header {
  min-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.header__logo {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 1;
}

.header__title {
  max-width: 730px;
  position: absolute;
  left: 64px;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
  margin: 0;
  z-index: 1;
}

.header__subtitle {
  max-width: 403px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  margin: 0;
  z-index: 1;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}

.two-columns {
  max-width: 1280px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 100px auto;
}

.two-columns__brief {
  max-width: 175px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: #2f80ed;
  margin: 0;
}

.two-columns__main-text {
  max-width: 1024px;
}

.two-columns__paragraph {
  font-size: 24px;
  line-height: 33px;
  font-weight: 400;
  margin: 0 0 30px;
}

.two-columns__paragraph:last-of-type {
  margin: 0;
}

.two-columns__span-accent {
  font-weight: 600;
}

.digits {
  max-width: 1100px;
  margin: 0 auto 100px;
}

.digits__title {
  max-width: 960px;
  font-size: 60px;
  line-height: 82px;
  font-weight: 600;
  text-align: center;
  margin: 0 auto 20px;
}

.digits__subtitle {
  max-width: 960px;
  font-size: 24px;
  line-height: 33px;
  font-weight: 400;
  text-align: center;
  margin: 0 auto 60px;
}

.digits__table {
  list-style-type: none;
  display: flex;
  row-gap: 60px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.digits__table-cell {
  width: 221px;
}

.digits__table-heading {
  font-size: 24px;
  line-height: 33px;
  font-weight: 600;
  margin: 0;
}

.digits__table-text {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  margin: 20px 0 0;
}

.feynman {
  min-height: 890px;
  background-color: #f2f2f2;
  position: relative;
  box-sizing: border-box;
  padding-top: 100px;
}

.feynman__img {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.feynman__title {
  max-width: 650px;
  font-size: 120px;
  line-height: 150px;
  font-weight: 600;
  text-align: center;
  position: relative;
  margin: 0 auto 70px;
}

.feynman__subtitle {
  max-width: 384px;
  font-size: 36px;
  line-height: 49px;
  font-weight: 400;
  text-align: center;
  position: relative;
  margin: 0 auto;
}

.feynman__link {
  min-width: 244px;
  font-size: 36px;
  line-height: 49px;
  font-weight: 400;
  color: #000;
  text-decoration: none;
  position: absolute;
  top: 470px;
  right: 48px;
}
