.feynman__link {
  min-width: 244px;
  font-size: 36px;
  line-height: 49px;
  font-weight: 400;
  color: #000;
  text-decoration: none;
  position: absolute;
  top: 470px;
  right: 48px;
  transition: opacity 0.2s ease;
}

.feynman__link:hover {
  opacity: 0.5;
}
