.footer__list-link {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  display: flex;
  transition: opacity 0.2s ease;
}

.footer__list-link:hover {
  opacity: 0.5;
}
